@page "/counter"
@rendermode InteractiveServer

@inject ISnackbar Snackbar
@inject IDialogService DialogService

@using ooap_lab_1.Models
@using Shared
@using MudBlazorWebApp1.Components.Models

<MudPopoverProvider></MudPopoverProvider>
<MudSnackbarProvider />

<MudDialogProvider FullWidth="true"
                   MaxWidth="MaxWidth.ExtraSmall"
                   CloseButton="true"
                   DisableBackdropClick="true"
                   NoHeader="true"
                   Position="DialogPosition.Center"
                   CloseOnEscapeKey="true" />

<PageTitle>Counter</PageTitle>
<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
    <MudTabPanel Text="Мои проекты">
        @if (MyProjects.Count == 0)
        {
            <MudText>
                У вас пока нет проектов :(
            </MudText>
        }
        else
        {
            <MudTable Items="@MyProjects" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info">
                <HeaderContent>
                    <MudTh>Id</MudTh>
                    <MudTh>Имя проекта</MudTh>
                    <MudTh>Последнее время обновления</MudTh>
                    <MudTh>Исходный код</MudTh>
                    <MudTh>Инструменты</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Id">@context.Id</MudTd>
                    <MudTd DataLabel="Имя проекта">@context.Name</MudTd>
                    <MudTd DataLabel="Последнее время обновления">@context.Commits[context.Commits.Count() - 1].DateTime</MudTd>
                    <MudTd DataLabel="Исходный код">@context.Commits[context.Commits.Count() - 1].SourceCode</MudTd>
                    <MudTd DataLabel="Инструменты">
                        <div>
                            <MudTooltip Text="Отправить в хранилище">
                                <MudIconButton OnClick="@(() => UploadToRemoteStorage(context))" Icon="@Icons.Material.Filled.Upload" />
                            </MudTooltip>
                            
                            <MudTooltip Text="Изменить">
                                <MudIconButton OnClick="@(async () => await OpenDialog(context))" Icon="@Icons.Material.Filled.EditNote" />
                            </MudTooltip>

                            <MudTooltip Text="Посмотреть историю изменений">
                                <MudIconButton OnClick="@(() => OpenHistoryDialog(context))" Icon="@Icons.Material.Filled.History" />
                            </MudTooltip>

                            <MudTooltip Text="Удалить" Color="Color.Error">
                                <MudIconButton OnClick="@(() => DeleteFromMyProjects(context))" Icon="@Icons.Material.Filled.PlaylistRemove" />
                            </MudTooltip>                                       
                        </div>
                    </MudTd>
                </RowTemplate>
            </MudTable>   
        }
    </MudTabPanel>
    <MudTabPanel Text="Удаленное хранилище">
        @if (RemoteProjects.Count == 0)
        {
            <MudText>
                Тут пока пусто :( 
                <br/>
                Загрузите проект первым!
            </MudText>
        }
        else
        {
            <MudTable Items="@RemoteProjects" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info">
                <HeaderContent>
                    <MudTh>Id</MudTh>
                    <MudTh>Имя проекта</MudTh>
                    <MudTh>Последнее время обновления</MudTh>
                    <MudTh>Исходный код</MudTh>
                    <MudTh>Инструменты</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Id">@context.Id</MudTd>
                    <MudTd DataLabel="Имя проекта">@context.Name</MudTd>
                    <MudTd DataLabel="Последнее время обновления">@context.Commits[context.Commits.Count() - 1].DateTime</MudTd>
                    <MudTd DataLabel="Исходный код">@context.Commits[context.Commits.Count() - 1].SourceCode</MudTd>
                    <MudTd DataLabel="Инструменты">
                        <div>
                            <MudTooltip Text="Добавить себе">
                                <MudIconButton OnClick="@(() => DownloadToMyProjects(context))" Icon="@Icons.Material.Filled.Download" />
                            </MudTooltip>

                            <MudTooltip Text="Посмотреть историю изменений">
                                <MudIconButton OnClick="@(() => OpenHistoryDialog(context))" Icon="@Icons.Material.Filled.History" />
                            </MudTooltip>

                            <MudTooltip Text="Удалить" Color="Color.Error">
                                <MudIconButton Icon="@Icons.Material.Filled.PlaylistRemove" />
                            </MudTooltip>
                        </div>
                    </MudTd>
                </RowTemplate>
            </MudTable>
        }
    </MudTabPanel>
</MudTabs>


@code {
    private List<Project> MyProjects = new()
    {
        new Project(1, "PasswordGenerator", new List<Commit>() { new Commit("init", "print(\"gdfgdfg321DSF+432\"))") }),
        new Project(2, "myShop", new List<Commit>() { new Commit("init", "Shop myShop = new Shop(\"my\"));") }),
    };

    private List<Project> RemoteProjects = new();

    private void UploadToRemoteStorage(Project project)
    {
        try
        {
            RemoteProjects.Add(project.Copy());

            Snackbar.Add("Проект успешно отправлен!", Severity.Success);
        }
        catch (Exception ex)
        {
            Snackbar.Add("Упс.. произошла ошибка", Severity.Error);
        }

    }

    private void UploadToRemoteStorageWithoutPrototype(Project project)
    {
        try
        {
            var newProject = new Project();

            newProject.Name = project.Name;
            newProject.Id = project.Id;
            newProject.Commits = new();

            foreach (Commit commit in project.Commits)
            {
                Commit newCommit = new();

                newCommit.SourceCode = commit.SourceCode;
                newCommit.Message = commit.Message;

                newProject.Commits.Add(newCommit);
            }

            RemoteProjects.Add(newProject);

            Snackbar.Add("Проект успешно отправлен!", Severity.Success);
        }
        catch (Exception ex)
        {
            Snackbar.Add("Упс.. произошла ошибка", Severity.Error);
        }

    }

    private void DownloadToMyProjects(Project project)
    {
        try
        {
            var newProject = new Project();

            newProject.Name = project.Name;
            newProject.Id = project.Id;
            newProject.Commits = new();

            foreach (Commit commit in project.Commits)
            {
                Commit newCommit = new();

                newCommit.SourceCode = commit.SourceCode;
                newCommit.Message = commit.Message;

                newProject.Commits.Add(newCommit);
            }

            MyProjects.Add(newProject);

            Snackbar.Add("Проект скачен отправлен!", Severity.Success);
        }
        catch (Exception ex)
        {
            Snackbar.Add("Упс.. произошла ошибка", Severity.Error);
        }

    }

    private void DeleteFromMyProjects(Project project)
    {
        MyProjects.Remove(project);

        Snackbar.Add("Проект успешно удален!", Severity.Success);
    }

    private async Task OpenDialog(Project project)
    {
        var options = new DialogOptions();
        var parameters = new DialogParameters();
        parameters["Project"] = project;

        var dialog = await DialogService.ShowAsync<EditProjectDialog>("Simple Dialog", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            StateHasChanged();
        }
        
    }

    private async Task OpenHistoryDialog(Project project)
    {
        var options = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true,  }; ;
        var parameters = new DialogParameters();
        parameters["Project"] = project;
        DialogService.ShowAsync<CommitHistoryDialog>("Simple Dialog", parameters, options);
    }

}
